/* slideshow */

.carousel{
    position: relative;
    height:300px;
    width: 100%;
    margin:0 auto;
}

.carousel_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel_track-container{
    background: lightgreen;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel_track{
    margin:0;
    padding:0;
    list-style-type: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel_slide{
    position: absolute;
    top:0;
    bottom:0;
    width:100%;
}

.carousel_button{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor:pointer;
}
.carousel_button--left{
    left:-40px;
}

.carousel_button--right{
    right:-40px;
}

.carousel_nav{
    /* background:pink; */
    display: flex;
    justify-content: center;
    padding:10px 0;
}

.carousel_indicator{
    border: 0;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background: whitesmoke;
    margin:0 10px;
    cursor: pointer;
}

.carousel_indicator.current-slide{
    background: aqua;
}

.is-hidden{
    display: none;
}